---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import ArticleLayout from "../layouts/ArticleLayout.astro";
---

<ArticleLayout headTitle={SITE_TITLE} title="Greetings!" description={SITE_DESCRIPTION}>
	<p class="my-4">
		Welcome to the home page of Applejag.
	</p>
	<p class="my-4">
		There's not much going on here, but <a class="anchor" href="blog/">I do have a blog</a> that I think you should check out.
		Also there's an <a class="anchor" href="about">about page</a> in case you wanted to know about me.
	</p>
</BaseLayout>
