---
import BaseHead, { type OpenGraph } from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	og?: OpenGraph;
	title: string;
	description: string;
	image?: string;
}

const { og, title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark" data-theme="rocket">
	<head>
		<BaseHead og={og} title={title} description={description} image={image} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
		</style>
	</head>

	<body>
		<Header />
		<slot/>
		<hr class="mt-8 container mx-auto" />
		<Footer />
	</body>
</html>
