---
import type { OpenGraph } from "../components/BaseHead.astro";
import BaseLayout from "./BaseLayout.astro";

interface Props {
	og?: OpenGraph;
	title: string;
	description: string;
}

const { og, title, description } = Astro.props;

---

<BaseLayout og={og} title={title} description={description}>
	<main class="px-4 mx-auto container">
		<slot/>
	</main>
</BaseLayout>

<style>
	main {
		max-width: 960px;
	}
</style>
